hv-split[orientation="vertical"]:has(hv-canvas) hv-tabs:has(hv-canvas) {
  flex-grow: 1;
}

hv-canvas.panel {
  .panel-body {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 8px;
    align-items: center;
    overflow: hidden;
  }

  .canvas-body {
    width: 100%;
    overflow: hidden auto;
    display: flex;
    align-items: center;
    height: 100%;
  }

  canvas {
    transform-origin: 0 0;
  }

  .panel-footer {
    background-color: var(--color-input-container-bg);

    input[type="number"] {
      width: 50px;
      line-height: 1em;
      padding: 0 0 0 1px;
    }
  }
}
