hv-split:has(hv-editor), hv-tabs:has(hv-editor) {
  flex: 1 1 50%;
}

hv-editor.panel {
  .panel-header, .editor-body {
    font-family: "JetBrains Mono", monospace;
    display: grid;
    justify-content: unset;
    gap: 20px;

    .hidden {
      display: none;
    }
  }

  .panel-header {
    .col-hex, .col-bin {
      white-space: nowrap;
      white-space-collapse: preserve;
    }
  }

  .editor-body {
    overflow: hidden;
    flex-grow: 1;

    *::selection {
      background-color: #F005;
    }

    .col-hex {
      text-transform: lowercase;
    }
  }

  .panel-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > * {
      flex-shrink: 0;
    }
  }

  .col-index {
    text-align: right;
    color: var(--color-mild-text);
  }
}
