hv-split:has(hv-editor), hv-tabs:has(hv-editor) {
  flex: 1 1 50%;
}

hv-editor.panel {
  .panel-header, .panel-body {
    display: grid;
    justify-content: unset;
    gap: 20px;

    .hidden {
      display: none;
    }
  }

  .panel-header {
    .col-hex, .col-bin {
      white-space: nowrap;
      white-space-collapse: preserve;
    }
  }

  .panel-body {
    *::selection {
      background-color: #F005;
    }

    .col-hex {
      text-transform: lowercase;
    }

    [contenteditable] {
      flex: 0 0 auto;
      outline: none;
      caret-color: #FF0000;
      background-color: inherit;
      color: inherit;
      border: none;
      resize: none;
      font: inherit;
      overflow-wrap: anywhere;
      line-break: anywhere;
      white-space: break-spaces;
    }
  }

  .panel-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > * {
      flex-shrink: 0;
    }
  }

  .col-index {
    text-align: right;
    color: var(--color-mild-text);
  }
}
