hv-strings {
  min-height: 20vh;
  min-width: 15vw;

  .panel-header {
    display: flex;
    flex: 0 0 auto;
    gap: 4px;
    background-color: var(--color-input-container-bg);

    input[type="search"] {
      flex-grow: 1;
    }
    input[type="number"] {
      width: 40px;
      padding-left: 1px;
      padding-right: 0;
    }
    input[type="checkbox"] {
      margin: 0;
      width: 26px;
      height: 26px;
    }
  }

  .panel-body {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 8px;

    .list {
      display: block;
      overflow: hidden auto;
    }

    .string {
      display: block;
      border-radius: 3px;
      padding: .2ch 1ch;
      white-space: nowrap;
      overflow: auto visible;

      span {
        color: #fff8;
      }

      &:hover {
        background-color: rgb(136, 89, 0);
      }
    }
  }
}
