hv-strings {
  min-height: 20vh;
  min-width: 15vw;

  .panel-header {
    input[type="search"] {
      flex-grow: 1;
    }
    input[type="number"] {
      width: 60px;
    }
    input[type="checkbox"] {
      margin: 0;
      width: 26px;
      height: 26px;
    }
  }

  .panel-body {
    padding: 0;

    .string {
      display: block;
      border-radius: 3px;
      padding: .2ch 1ch;
      white-space: nowrap;
      overflow: auto visible;

      span {
        font-family: "JetBrains Mono", monospace;
        color: #fff8;
      }

      &:hover {
        background-color: var(--color-accent);
      }
    }
  }
}
