hv-menu {
  --color-menu-item-active-bg: #303132;
  --gap: .3em;

  display: flex;
  align-items: flex-start;
  gap: var(--gap);
  padding: var(--gap) 8px;
  list-style: none;
  font-size: 13px;
  letter-spacing: .2px;

  .item, .submenu {
    border: solid 1px transparent;
  }

  .submenu {
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 4px);
    padding: var(--gap);
    gap: var(--gap);
    left: -1px;
    min-width: 130px;
    overflow: hidden;

    hr {
      display: block;
      margin: var(--gap);
      border: solid 1px transparent;
      height: 0;
    }
  }

  .item {
    padding: .3em 1em;
    line-height: 1.5em;
    position: relative;
    white-space: nowrap;

    &:focus .submenu, .submenu:hover {
      opacity: 1;
      pointer-events: unset;
      z-index: 2;
    }
  }

  input[type=file] {
    position: absolute;
    inset: 0;
    opacity: 0;
  }
}

/* Fancy stuff */
hv-menu {
  background-color: var(--color-input-container-bg);

  .item, .submenu {
    border-radius: 0.5lh;
  }

  .item:focus, .item:hover {
    outline: none;
    background-color: #20212280;
    border-color: #fff1;
    box-shadow: 0 1px 0px 1px #0002 inset;
    border-bottom-color: #fff1;
  }

  .submenu {
    background-color: var(--color-input-container-bg);
    border-color: #fff2;
    box-shadow: 0 1px 5px #10111280;
    transform: translateY(20px);
    transition: transform 200ms linear, opacity 200ms linear;
    backdrop-filter: blur(5px);

    hr {
      background-color: transparent;
      border-bottom-color: #0002;
      border-top-color: #FFF2;
    }
  }

  .item:focus .submenu, .submenu:hover {
    transform: translateY(0);
  }

}
