hv-menu {
  --color-menu-item-active-bg: #303132;

  display: flex;
  align-items: flex-start;
  gap: 4px;
  padding: 2px 8px;
  list-style: none;
  font-size: 13px;

  .item, .submenu {
    border: solid 1px transparent;
  }

  .submenu {
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    gap: 1px;
    position: absolute;
    top: calc(100% + 2px);
    left: -1px;
    min-width: 100px;
    overflow: hidden;

    hr {
      display: block;
      margin: 0.5ch 1ch;
      border: 0;
      height: 1px;
      background: #FFF4;
    }
  }

  .item {
    background-color: var(--color-input-container-bg);
    padding: .5ch 1ch;
    line-height: 1.3em;
    position: relative;
    white-space: nowrap;

    &:focus .submenu, .submenu:hover {
      opacity: 1;
      pointer-events: unset;
      z-index: 2;
    }
  }

  input[type=file] {
    position: absolute;
    inset: 0;
    opacity: 0;
  }
}

/* Fancy stuff */
hv-menu {
  background-color: var(--color-input-container-bg);

  .submenu, .item {
    border-radius: 3px;
  }

  .item:focus, .item:hover {
    outline: none;
    border-color: #10111280;
    background-color: #202122;
  }

  .submenu {
    background-color: var(--color-input-container-bg);
    border-color: var(--color-input-container-bg);
    box-shadow: 0 1px 5px #10111280;
    transform: translateY(20px);
    transition: transform 50ms linear, opacity 50ms linear;
  }

  .item:focus .submenu, .submenu:hover {
    transform: translateY(0);
  }

}
