.panel {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-mild-text);
  border-radius: 3px;
  line-height: 20px;
  font-size: 14px;

  .panel-header, .panel-body, .panel-footer {
    display: flex;
    padding: 0 1ch;

    &:empty { display: none; }
  }

  .panel-header, .panel-footer, .panel-toolbar {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 4px;
  }

  .panel-body {
    overflow: visible auto;
    flex: 1 1 0; /* must be zero for scroll behaviour */
  }

  .panel-header, .panel-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    &:has(.panel-toolbar) {
      padding: 0;
    }
  }

  .panel-header {
    border-bottom: solid 1px var(--color-mild-text);
    overflow: auto hidden;
  }

  .panel-footer {
    border-top: solid 1px var(--color-mild-text);
  }

  .panel-toolbar {
    color: inherit;
    display: flex;
    background-color: var(--color-input-container-bg);
    align-self: flex-start;
    align-items: flex-end;
    width: 100%;
    padding: 7px 1ch;
  }
}
