.panel {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-mild-text);
  border-radius: 0.3em;
  line-height: 20px;
  font-size: 14px;

  .panel-header, .panel-body, .panel-footer {
    display: flex;
    padding: .2ch 1ch;

    &:empty { display: none; }
  }

  .panel-header, .panel-footer {
    color: var(--color-mild-text);
    flex: 0 0 auto;
    align-items: center;
  }

  .panel-body {
    overflow: visible auto;
    flex: 1 1 0; /* must be zero for scroll behaviour */
  }

  .panel-header {
    border-bottom: solid 1px;
  }

  .panel-footer {
    border-top: solid 1px;
    gap: 4px;
  }
}
