hv-window {
    position: relative;
    outline: none;
    caret-color: #FF0000;
    background-color: inherit;
    color: inherit;
    border: none;
    resize: none;
    font: inherit;
    overflow-wrap: anywhere;
    line-break: anywhere;
    white-space: break-spaces;
}
