.editor {
  min-height: 50vh;
  flex: 1 0 auto !important;

  .panel-header, .panel-body {
    gap: 20px;
    justify-content: flex-start;
  }

  .panel-header {
    .col-hex {
      letter-spacing: var(--hex-letter-spacing);
      white-space: nowrap;
      white-space-collapse: preserve;
    }  
  }

  .panel-body {
    flex-direction: row;

    *::selection {
      background-color: transparent;
    }

    .col-hex {
      letter-spacing: var(--hex-letter-spacing);
      text-transform: lowercase;
    }  

    [contenteditable] {
      flex: 0 0 auto;
      outline: none;
      caret-color: #FF0000;
      background-color: inherit;
      color: inherit;
      border: none;
      resize: none;
      font: inherit;
      overflow-wrap: anywhere;
      line-break: anywhere;
      white-space: break-spaces;
  
    }
  }

  .panel-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > * {
      flex-shrink: 0;
    }
  }

  .col-index {
    text-align: right;
    color: var(--color-mild-text);
  }
}
