.editor {
  flex-grow: 0;
  & > * {
    display: flex;

    .spacer {
      width: 15px;
      flex: 0 0 1;
    }
  }

  .panel-header {
    .col-hex {
      letter-spacing: calc(1ch + 2 * var(--hex-letter-spacing));
    }  
  }

  .panel-body {
    flex-direction: row;
    overflow-y: auto;

    *::selection {
      background-color: transparent;
    }

    .col-hex {
      letter-spacing: var(--hex-letter-spacing);
      text-transform: lowercase;
    }  

    [contenteditable] {
      flex-grow: 0;
      outline: none;
      caret-color: #FF0000;
      background-color: inherit;
      color: inherit;
      border: none;
      resize: none;
      font: inherit;
      overflow-wrap: anywhere;
      line-break: anywhere;
      white-space: break-spaces;
  
    }
  }

  .panel-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > * {
      flex-shrink: 0;
    }
  }

  .col-index {
    text-align: right;
    color: var(--color-mild-text);
  }
}
