.split:not([vertical]) > .strings {
  width: 1px;
}

.strings {
  .panel-body {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 8px;

    .filters {
      flex: 0 0 auto;
      background-color: var(--color-input-container-bg);
    
      input[type="search"] {
        flex-grow: 1;
      }
      input[type="number"] {
        width: 40px;
        padding-left: 1px;
        padding-right: 0;
      }
      input[type="checkbox"] {
        margin: 0;
        width: 26px;
        height: 26px;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      overflow: hidden auto;
    }

    .string {
      flex: 0 0 auto;
      display: block;
      border-radius: 3px;
      padding: .2ch 1ch;
      white-space: nowrap;
      overflow: auto visible;
  
      &.hidden {
        display: none;
      }
  
      &:hover {
        background-color: rgb(136, 89, 0);
      }
    }
  }
}
