.layout {
    width: 100%;
    height: 100%;
    display: flex;
}


hv-split {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    gap: 4px;
    overflow: hidden;
}

hv-split[orientation="vertical"] {
    flex-direction: column;
}


hv-tabs {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &[tabs-position="bottom"] {
        & > *:nth-child(1) {
            order: 1;
        }

        ul.tabs-list > li {
            border-radius: 0 0 6px 6px;
        }
    }

    ul.tabs-list {
        display: flex;
        padding: 0 5px 0;
        gap: 1px;
        line-height: 1.5em;
        font-size: small;
        overflow-x: auto;
        white-space: nowrap;

        & > li {
            border: solid 1px var(--color-mild-text);
            border-radius: 6px 6px 0 0;
            border-bottom-width: 0;
            padding: 1px 5px;

            &.active {
                background-color: var(--color-mild-text);
            }
        }
    }

    .tabs-container {
        flex: 1 0 auto;
        display: flex;
        overflow: hidden;
        position: relative;

        & > * {
            flex: 1 1 auto;
        }

        & > *:not(.active-tab) {
            display: none !important;
        }

        &.drop-center:after, &.drop-right:after, &.drop-left:after, &.drop-top:after, &.drop-bottom:after {
            position: absolute;
            border: solid 1px #FFF5;
            border-radius: 6px;
            background: #FFAA0055;
            content: "";
            pointer-events: none;
            user-select: none;
            transition: left 200ms, right 200ms, top 200ms, bottom 200ms;
        }

        &.drop-center:after {
            inset: 0;
        }

        &.drop-right:after {
            inset: 0;
            left: 50%;
        }

        &.drop-left:after {
            inset: 0;
            right: 50%;
        }

        &.drop-top:after {
            inset: 0;
            bottom: 50%;
        }

        &.drop-bottom:after {
            inset: 0;
            top: 50%;
        }
    }
}
