.strings {
  .string {
    display: block;
    border-radius: 3px;
    padding: 1px 4px;
    margin: 0 2px;
    line-height: 1.6em;
    word-break: break-all;

    &.hidden {
      display: none;
    }

    &:hover {
      background-color: rgb(136, 89, 0);
    }
  }
}